#!/usr/bin/make -f

export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_build:
	DH_GOPKG="v2ray.com/core/main" dh_auto_build
	cd _build/bin && mv main v2ray
	DH_GOPKG="v2ray.com/core/infra/control/main" dh_auto_build
	cd _build/bin && mv main v2ctl

override_dh_auto_install:

